@using DiarySchema.Models
@model IEnumerable<Teachers>

<table class="table table-hover table-bordered sort" cellspacing="0" id="rez_tab">
    <thead>
        <tr style="border: 1px solid #13008A;">
            <td>Преподаватель</td>
            <td>Кафедра</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model)
        {
            <tr>
                <td>@b.FullName</td>
                <td>@b.Departament</td>
                <td style="border-style: none; width:85px;">
                    <a href="#"><span class="glyphicon glyphicon-edit" title="Редактировать"></span></a>
                    <a href="#myModal" data-toggle="modal" role="dialog" data-backdrop="static"><span class="glyphicon glyphicon-remove" title="Удалить"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>


@*@foreach (var b in Model)
                {
        <tr>
            <td><p>@b.FullName</p></td>
            <td><p>@b.Departament</p></td>
        </tr>
    }*@
