@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Уник</title>
</head>
<body>
    <div>
        <h3>Всё ок братка</h3>

    </div>
</body>
</html>