body{
	min-width:800px;
    background-color: #54E75B ;
}
header{
    border-style: solid;
    background:  linear-gradient(0deg,#E8FAE6,#BAEFB3);
}
main{ 
    border-style: solid;
	background:  linear-gradient(0deg,#BAEFB3,#E8FAE6);
/*	background-image: url(../image/diary.png);
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;*/
}
footer{
	border-style: solid;
    background:  linear-gradient(0deg,#E8FAE6,#BAEFB3);
}

.navbar{
    margin-bottom: 0px;
}
.logoImg{
width:107px;
float:left;
margin-left:30px;
}
.logoTxt{

margin-top:40px;
}
.accountImg{
    width: 150px;
    height: 150px;   
    margin:10px;
}
.accountTxt{
        
    
    float: right;
    margin:10px;
}
.img-container1{
    width: 150px;
    height: 150px;    
    overflow: hidden;
}
.account{

    float: left;
    margin:10px;

}
.float-right{
    float: right;
}
.img-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.account_inf{

    float: left;
    margin:20px;

}
.rotateText {
     -webkit-transform: rotate(270deg); /* разворот текста для разных браузеров */
     -moz-transform: rotate(270deg);
     -ms-transform: rotate(270deg);
     -o-transform: rotate(270deg);
     transform: rotate(270deg);
     writing-mode: bt-lr; 
     width: 74px;   /*ширина блока */
     height: 74px; /* высота блока */
}
.rotate{
	transform: rotate(270deg);
}

.indent{ margin-left:0px;
margin-right:0px;
padding-right:0px;
padding-left:0px
}
span{
	font-size: 30px;
}
.photoTable{
	height: 30px;
	width: auto;
}
.glyphicon-remove{
	color: red;
/*	margin-left: 10px;*/
}
.glyphicon-remove:hover{
	color:darkred;
}
.glyphicon-edit{
	margin-right: 10px;
}
img :hover{
    border-radius: 100px;
}
/*.contant{
    border-style: solid;
}


.height{ height:20px;}

.messages{
	margin-top:20px;
	border-style: outset;
	border-radius:5px;
	background-color:#EEE0BA;
} 

.messages-text{border-style:groove;
min-height:10px;}


.img-container {
    width: 100%;
    height: 120px;
    background: red;
    overflow: hidden;
}

.imgMessages {
    width: 120px;
    height: 120px;
    float: left;
	 margin:10px;
}

.imgHead{
	width: 150px;
    height: 150px;
    float: left;
	margin:10px;
}*/