
@{
    Layout = "~/Views/Shared/_LayoutAdminAdd.cshtml";
}


<main>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h3 style="text-align:center; margin:40px;border-style:solid; background-color:#dae052; border-radius:10px;">Заявка на регистрацию принята, ждите потверждения регистрации</h3>
        </div>
    </div>
</main>